
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

innodb_file_per_table = 1

max_allowed_packet = 256M

innodb_autoinc_lock_mode = 0

default_time_zone='+00:00'

innodb_lru_scan_depth = 256
innodb_buffer_pool_instances = 4
innodb_buffer_pool_size = 4G
innodb_read_io_threads = 64
innodb_write_io_threads = 64
innodb_flush_method = O_DIRECT
innodb_tmpdir = /dev/shm
tmpdir = /dev/shm/

slow_query_log = 0
slow_query_log_file = /var/log/mysql/slow_queries.log
long_query_time = 1
log_queries_not_using_indexes = 0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES,ONLY_FULL_GROUP_BY,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO
explicit_defaults_for_timestamp

# caching_sha2_password is not yet available in pdo/mysqli
default_authentication_plugin=mysql_native_password
