character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

innodb_file_per_table = 1

max_allowed_packet = 256M

innodb_autoinc_lock_mode = 0

default_time_zone='+00:00'

innodb_lru_scan_depth = 256
innodb_buffer_pool_instances = 4
innodb_buffer_pool_size = 4G
innodb_read_io_threads = 64
innodb_write_io_threads = 64
innodb_flush_method = O_DIRECT
innodb_tmpdir = /dev/shm
tmpdir = /dev/shm/
